.root {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  overflow: 'hidden';
  background-color: white;

  margin: auto;
  padding-bottom: 2em;
}

.icon {
  color: 'rgba(255, 255, 255, 0.54)';
}

.filter-header {
  margin-bottom: 4em;
}
