#icon-button {
  outline: none;
}

.parent {
  display: flex;
}
.child {
  margin: auto;
}

.main {
  margin-bottom: 30px;
}

.bottom {
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}
