#icon-button {
  outline: none;
}

.App {
  min-height: 100vh;
  position: relative;
}

.parent {
  display: flex;
}
.child {
  margin: auto;
}

.bottom-nav {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
